# Flutter / Dart
.dart_tool/
.packages
pubspec.lock

# Build files
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
/android/.gradle
/android/local.properties
/android/app/debug
/android/app/profile
/android/app/release

# iOS
/ios/Pods
/ios/.symlinks
/ios/Flutter/Flutter.framework

# Firebase
google-services.json
GoogleService-Info.plist

# Hive
*.hive
*.lock

# IDE
.idea/
.vscode/

# Logs
*.log